:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    background-color: var(--cor01);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--cor03);
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 20px;
    justify-content: space-evenly;
    margin: 30px;
    margin-bottom: 20px;
    text-align: center;
}

img{
    max-width: 300px;
    border-radius: 40px;
    border: 2px solid var(--cor04);
    box-shadow: 2px 2px 2px var(--cor03);
}

li{
    list-style: square;
    text-align: left;
}


footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}