:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
}

.bolinhas{
    border-bottom: 5px solid var(--cor04);
    display: flex;
    gap: 20px;
    height: 300px;
    justify-content: space-around;
    padding: 0;
    
}

.bolinha{
    animation: quicar 1.8s ease-in-out infinite;
    background: var(--cor04);
    border-radius: 50%;
    height: 50px;
    list-style: none;
    margin: 0 10px;
    width: 50px;
}

@keyframes quicar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(253px);
    }
    100%{
        transform: translateY(0);
    }
}

.bolinha:nth-child(2){
    animation-delay: -0.53s;
}

.bolinha:nth-child(3){
    animation-delay: -0.2s;
}

.bolinha:nth-child(4){
    animation-delay: -0.6s;
}

.bolinha:nth-child(5){
    animation-delay: -0.98s;
}