@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
    --cor05: #191970;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

h3{
    color: var(--cor04);
    cursor: pointer;
    font-family: 'Itim', cursive;
    font-size: 3em;
    position: relative;
    /* Para dar contorno nas letras */
    -webkit-text-stroke-color: var(--cor05);
    -webkit-text-stroke-width: 0.1px;
}

h3::before{
    color: var(--cor05);
    content: "30 dias de CSS";
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.6s;
    white-space: nowrap;
    width: 0;
}

h3:hover::before{
    width: 100%;
}
