:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

.loader{
    height: 150px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 150px;

}

.loader span{
    animation: animar 2s linear infinite;
    background: var(--cor02);
    border-radius: 10px;
    height: 50px;
    position: absolute;
    width: 50px;
}

.loader span:nth-child(1){
    animation-delay: 0.7s;
    background: var(--cor04);
}

.loader span:nth-child(2){
    animation-delay: 1.4s;
    background: var(--cor03);
}

@keyframes animar {
    0%{
        left: 0;
        top: 0;
    }
    12.5%{  
        left: 50%;
        top: 0;

    }
    25%{
        left: 50%;
        top: 0;
    }
    37.5%{
        left: 50%;
        top: 50%;
    }
    50%{
        left: 50%;
        top: 50%;
    }
    62.5%{
        left: 0;
        top: 50%;
    }
    75%{
        left: 0;
        top: 50%;
    }
    87.5%{
        left: 0;
        top: 0;
    }
    100%{
        left: 0;
        top: 0;
    }
}