:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    color: var(--cor04);
    font-size: 3em;
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

div {
    align-items: center;
    background: #000000;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 10px 0;

}


span {
    animation: brilho 8s ease-in infinite;
}

span:nth-of-type(2){
    animation-delay: 0.3s;
}
span:nth-of-type(3){
    animation-delay: 0.6s;
}



@keyframes brilho{
    0% {

        filter: blur(0);
    }
    40% {

        filter: blur(20px);
        opacity: 0;
        transform: rotate(-45deg) translateY(100%);
    }
    65%, 100% {
        filter: blur(0px);
        transform: none;
        filter: none;
    }
}