:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);  
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
}

section img{
    border-radius: 50%;
    width: 200px;
}

.card{
    filter: drop-shadow(5px 5px 10px #7a7a7a94); /* sombra do card*/
    height: 200px;
    perspective: 800px;
    width: 200px;
}

.card:hover{
    cursor: pointer;
}

.face-1, .face-2{
    position: absolute;
    transition: 2s;
}

.face-1{
    z-index: 1;
}

.card:hover .face-1{
    transform: rotateY(180deg);
    z-index: 0;
}

.face-2{
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

.card:hover .face-2{
    transform: rotateY(0deg);
    z-index: 1;
}