:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    background-color: var(--cor01);
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}

a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.container .slide img{
    border-radius: 10px;
}

.labels {
    bottom: 10px;
    left: 43%;
    display: flex;
    position: absolute;
}

.button {
    border: 2px solid rgba(0, 0, 0, 0.628);
    border-radius: 15px;
    cursor: pointer;
    height: 15px;
    margin: 6px;
    transition: .5s ease;
    width: 15px;
}

.button:hover {
    background-color: var(--cor04);
}

input {
  display: none;
}

.slides {
    display: flex;
    height: 100%;
    width: 500%;
}

.slide {
    transition: .6s ease-in-out;
    width: 20%;  
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 

.slides:has(#slide1:checked)  ~ .labels label:nth-child(1){
    background-color: var(--cor04);
} 

.slides:has(#slide2:checked)  ~ .labels label:nth-child(2){
    background-color: var(--cor04);
} 

.slides:has(#slide3:checked)  ~ .labels label:nth-child(3){
    background-color: var(--cor04);
} 

.slides:has(#slide4:checked)  ~ .labels label:nth-child(4){
    background-color: var(--cor04);
} 

.slides:has(#slide5:checked)  ~ .labels label:nth-child(5){
    background-color: var(--cor04);
} 