:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    background-color: var(--cor01);
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}

a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.galeria {
    align-items:center;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;  
    perspective:700px;
    width:50vw;
  }
  
  ul {
    height:100px;
    margin:1em;
    perspective-origin:center center;
    position:relative;
    transform:rotateX(40deg);
    transform-style:preserve-3d;
    transition:all 0.4s;
    width:100px;
  }
  
  ul:hover {
    transform:translateZ(100px) rotateX(20deg);
    z-index:999;
  }
  
  ul:hover li {
    filter:grayscale(0);
  }
  
  li {
    backface-visibility:hidden;
    background:coral;
    filter:grayscale(0.9);
    height:100%;
    left:0;
    list-style: none;
    position:absolute;
    top:0;
    transition:transform 0.3s, filter 1s;
    width:100%;
  }

/* Posicionando cada um dos 9 pedaços da imagem */
li:first-of-type {transform:none;}
li:nth-of-type(2) {left:100%; transform-origin:left center; transform:rotateY(180deg);}

li:nth-of-type(3) {top:100%; transform-origin:center top; transform:rotateX(-180deg);}

li:nth-of-type(4) {left:-100%; transform-origin:right center; transform:rotateY(-180deg);}

li:nth-of-type(5) {top:-100%; transform-origin:center bottom; transform:rotateX(180deg);}

li:nth-of-type(6) {top:100%; left:100%; transform-origin:center top; transform:rotateX(-180deg);}

li:nth-of-type(7) {top:100%; left:-100%; transform-origin:right center; transform:rotateY(-180deg);}

li:nth-of-type(8) {top:-100%; left:-100%; transform-origin:center bottom; transform:rotateX(180deg);}

li:nth-of-type(9) {
    top:-100%; 
    left:100%; 
    transform-origin:left center; 
    transform:rotateY(180deg);
}

/* Fazendo o efeito de abrir */
li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(5) {
    transition-delay:0.03s;
}

li:nth-of-type(6),li:nth-of-type(7),li:nth-of-type(8),li:nth-of-type(9) {
    transition-delay:0s;
}

ul:hover :nth-of-type(2),ul:hover :nth-of-type(3),ul:hover :nth-of-type(4),ul:hover :nth-of-type(5) {
    transition-delay:0s
}

ul:hover :nth-of-type(6),ul:hover :nth-of-type(7),ul:hover :nth-of-type(8),ul:hover :nth-of-type(9) {
    transition-delay:0.2s;
}


ul:hover :nth-of-type(2),ul:hover :nth-of-type(4),ul:hover :nth-of-type(7),ul:hover :nth-of-type(9) {
    transform:rotateY(0);
}

ul:hover :nth-of-type(3), ul:hover :nth-of-type(5),ul:hover :nth-of-type(6), ul:hover :nth-of-type(8) {
    transform:rotateX(0);
}

ul li {
    background-size: 300% 300%;
}

li:nth-of-type(1){
    background-position: center center;
}

li:nth-of-type(2){
    background-position: right center;
}

li:nth-of-type(3){
    background-position: center bottom;
}

li:nth-of-type(4){
    background-position: left center;
}

li:nth-of-type(5){
    background-position: center top;
}

li:nth-of-type(6){
    background-position: right bottom;
}

li:nth-of-type(7){
    background-position: left bottom;
}

li:nth-of-type(8){
    background-position: left top;
}

li:nth-of-type(9){
    background-position: right top;
}

ul:nth-of-type(1) li {
    background-image: url(img01.jpg);
}

ul:nth-of-type(1) {
    height: 80px;
    width: 120px;
}

ul:nth-of-type(2) li {
    background-image: url(img02.png);
}

ul:nth-of-type(2) {
    height: 100px;
    width: 100px;
}

ul:nth-of-type(3) li {
    background-image: url(img03.jpg);
}

ul:nth-of-type(3) {
    height: 90px;
    width: 130px;
}

li { text-indent:999px; overflow:hidden; }