@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    background-color: var(--cor01);
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}

a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
}

h3{
    background: var(--cor03);
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    padding: 60px;
}

span::before{
    animation: trocar 3s ease infinite;
    content: '';
}

@keyframes trocar{
    0%{
        content: '🍕';
    }
    25%{
        content: '🐕';
    }
    50%{
        content: '🎶';
    }
    75%{
        content: '🎞️';
    }
    100%{
        content: '🧶';
    }
}