:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    background-color: var(--cor01);
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    display: flex;
    justify-content: center;
}

/* Para criar a barra na vertical */
.barra{
    background: var(--cor04);
    height: 10px;
    width: 300px;
}

/* Para espaçar as bolas igualmente */
.bolas{
    display: flex;
    justify-content: space-around;
}

/* Para criar as linhas verticais */
.linha{
    border: 1px solid var(--cor04);
    display: inline-block;
    height: 150px;
    left: -18px;
    list-style: none;
    position: relative;
    top: -10px;
    transform-origin: top;
    
}

/* Para fazer as bolinhas em cada linha */
.linha::before{
    background: var(--cor04);
    border-radius: 100%;
    content: '';
    height: 60px;
    left: -30px;
    position: absolute;
    top: 100%;
    width: 60px;
}

/* Animando a bolinha da esquerda */
.linha:first-child{
    animation: esquerda 2s ease-in-out infinite;
}

/* Animando a bolinha da direita */
.linha:last-child{
    animation: direita 2s ease-in-out infinite 1s;
}

@keyframes esquerda {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
}

@keyframes direita {
    0%, 50%, 100% { 
        transform: rotate(0deg); 
      }
        25% { 
        transform: rotate(-45deg); 
      }
}