:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    color: var(--cor04);
    font-size: 3em;
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
}

.container{
    align-items: center;
    background: #000000;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 30px 0;

}

.container span{
    animation: brilho 3s ease-in-out infinite;
}

.container span:nth-of-type(2){
    animation-delay: 0.25s;
}
.container span:nth-of-type(3){
    animation-delay: 0.5s;
}
.container span:nth-of-type(4){
    animation-delay: 0.75s;
}
.container span:nth-of-type(5){
    animation-delay: 1s;
}
.container span:nth-of-type(6){
    animation-delay: 1.25s;
}
.container span:nth-of-type(7){
    animation-delay: 1.5s;
}
.container span:nth-of-type(8){
    animation-delay: 1.7s;
}
.container span:nth-of-type(9){
    animation-delay: 2s;
}
.container span:nth-of-type(10){
    animation-delay: 2.25s;
}
.container span:nth-of-type(11){
    animation-delay: 2.5s;
}


@keyframes brilho{
    0% {
        color: var(--cor02);
        text-shadow: 0 0 12px var(--cor03), 0 0 50px var(--cor03), 0 0 100px var(--cor03);
    }
    10%, 90% {
        color: var(--cor04);
        text-shadow: none;
    }
}
