:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: var(--cor01); */
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
}

h3{
    font-family: monospace;
    width: 14ch;
    border-right:4px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: digitando 2.5s steps(14) infinite alternate, piscando 0.5s infinite step-end alternate;
}

@keyframes digitando{
    0%{
        width: 0;
    }
    80%, 100%{
        width: 14ch;
    }

}

@keyframes piscando{
    50%{
        border-color: transparent;
    }
}