:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    background-color: var(--cor01);
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}

a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 40vh;
    position: relative;
    width: 31vw;
}

.primeira {
    background-image: url('https://img.freepik.com/fotos-gratis/uma-pintura-de-um-lago-de-montanha-com-uma-montanha-ao-fundo_188544-9126.jpg?w=996&t=st=1692118636~exp=1692119236~hmac=4ac02e61c3db01ad555f0aa78369e509694ffceed97df46a677f7109c300e76a');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;    
    transition: all 1s ease-in-out;
    width: 99%;
    z-index: 1;
}

.primeira:hover {
    background-image: url('https://img.freepik.com/fotos-gratis/linhas-brilhantes-na-forma-3d-do-coracao-humano-em-fundo-escuro-generativo-ai_191095-1435.jpg?w=900&t=st=1692118638~exp=1692119238~hmac=7e38cb0c71df8e0f70c1bd0549a94c79fd61750a328bcd04fb87f824137eacc5');
}

.segunda {
    height: 15vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    padding: 95px 20px 0 20px;
    position: absolute;
    text-overflow: ellipsis;
    transform: translateY(5vh);
    transition: all 1s ease-in-out;
    width: 90%;
}

.container:hover .segunda {
    background-color: var(--cor03);
    box-shadow: 0px 0px 5px var(--cor04);
    transform: translateY(25vh);    
}

.segunda h1  {
    color: var(--cor04);
    font-size: 1.5rem;
    text-align: center;
}

.segunda p {
    max-height: 3vh;
    overflow: hidden;
    text-overflow: ellipsis;
}