:root{
    --cor01: #f7fbfc;
    --cor02: #d6e6f2;
    --cor03: #b9d7ea;
    --cor04: #769fcd;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    font-size: 24px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    
}

h1{
    text-shadow: 2px 2px 2px var(--cor03);
}

nav{
    display: flex;
    gap: 30px;
    margin: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}

main{
    font-size: 18px;
    margin: 30px; 
}

main h2{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    text-shadow: 2px 2px 2px var(--cor03);
    
}

footer{
    background-color: var(--cor04);
    bottom: 0;
    color: var(--cor02);
    font-size: 18px;
    height: 8vh;
    position: absolute;
    text-align: center;
    width: 100%;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.scene{
    animation: decolar 5s linear infinite;
    background: #3b93ff;
    border: 20px solid #000;
    border-radius: 50%;
    box-shadow: inset 0 0 100px #00000080;
    height: 300px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.bi-rocket-takeoff-fill{
    animation: decolarFoguete .2s linear infinite;
    color: #fff;
    font-size: 10em !important;
    left: 50%;
    position: absolute;
    text-shadow: -10px 15px 10px #00000033;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cloud{
    animation: animarCeu 1s linear infinite;
    color: #ccc;
    position: absolute
}

.cloud1{
    font-size: 6em;
    left: 10%;
    z-index: -1;
}

.cloud2{
    animation-delay: -.4s;
    font-size: 5em;
    right: 20%;
    z-index: -1;
}

.cloud3{
    animation-delay: -.8s;
    font-size: 3em;
    right: 45%;
    z-index: -1;
}

@keyframes decolarFoguete{
    0%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(0,0);
    }
    50%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(-5px, 5px);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(0,0);
    }
}

@keyframes animarCeu{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(1000%);
    }
}

@keyframes decolar{
    0%{
        background: #b339ff;
    }
    30%{
        background: #3b93ff;
    }
    70%{
        background: #3b93ff;
    }
    100%{
        background: #b339ff;
    }
}